@charset "UTF-8";

#userListLayout {
	width: 1200px;
	background: #fff;
	margin: 0 auto 0;
	margin-top: 100px;
	margin-bottom: 100px;
	padding: 20px;
	border: 1px solid #ddd;
	box-shadow: 0 0 1em #222;
}

#searchUser{
	float: left;
}

#multipleButton{
	float: right;
	margin-bottom: 10px;
}

#targetEmail{
	height: 20px;
}

#userList {
	border-top: 1px solid #444444;
	border-collapse: collapse;
}

#userList th, td {
	border-bottom: 1px solid #e5e5e5;
	padding: 10px;
}

#userListLayout h2 {
	margin: 0 0 50px 0;
	padding: 10px;
	text-align: center;
	font-size: 30px;
	color: #666666;
	border-bottom: 1px solid #e5e5e5;
}

.pageNum {
	padding-top: 50px;
	height: 30px;
	text-align: center;
}

.pageNum div {
	display: inline-block;
	width: 30px;
	margin: 0 auto;
	text-align: center;
}

.pageNum a {
	text-decoration: none;
	font-weight: bolder;
}