@CHARSET "UTF-8";

.Container>.Terms{
    width: 996px;
    line-height: 1.8;
    padding: 50px 40px;
    padding-top: 50px;
    padding-right: 40px;
    padding-bottom: 50px;
    padding-left: 40px;
    text-align: justify;
}

.Container>.Terms .Tit1{
    color: #343434;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 20px;
}

.Tit1>strong{
	font-weight: bold;
}

.Terms_Item{
    margin-bottom: 30px;
}

.Terms_Item>strong{
    color: #343434;
    display: inline-block;
    padding-bottom: 5px;
}

.Terms_Item ol{
	list-style: none;
    padding: 5px 0 5px 20px;
    list-style: decimal;
}

.Terms_Item ul{
	list-style: none;
	
}

